* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}


:root {


    /* Font Family */

    --font-family: "DM Sans";
    --font-family-2: "Urbanist", sans-serif;
    /* Primary Colors */
    --primary-color: #447158;


    /*Hover Button Color*/

    --btn-hover: #025625;
    --btn-primary-hover: #1B4E29;

    /* Secondary Colors */
    --secondary-color-1: #698B75;
    --secondary-color-2: #DCE3DE;
    --secondary-color-3: #F9F9F9;
    --secondary-color-4: #F0FDF4;
    --secondary-color-5: #EFF9F4;
    --secondary-color-6: #EBF2ED;

    /* Input field / Text Colors */
    --text-color-1: #2D2D2D;
    --text-color-2: #555555;
    --text-color-3: #D9D9D9;
    --text-color-4: #A9B0B8;
    --text-color-5: #444545;

    /* Grey Tones */
    --grey-tone-1: #737678;
    --grey-tone-2: #BBBBBB;
    --grey-tone-3: #DCDCDC;
    --grey-tone-4: #F4F4F4;
    --grey-tone-5: #8E8E8E;
    --grey-tone-6: #4F4F4F;
    --grey-tone-7: #6C6C6C;
    --grey-tone-8: #ECECEC;

    /* Accent Colors */
    --accent-muted-purple: #CABDFF;
    --accent-warm-orange: #F9C6AF;
    --accent-slate-green: #B7E4C7;

    /* State Colors */
    --state-success: #27AE60;
    --state-warning: #E2B93B;
    --state-error: #C94444;

    /* Neutral Colors */
    --neutral-white: #FFFFFF;
    --neutral-black: #000000;

    /* Box Shadow */

    --box-shadow: 0 0px 10px rgba(0, 0, 0, 0.3);

    /* Input Media Query */

    --input-height-md: 42px;

}

/* //////////////////////////////////////////////// [ CUSTOME CLASSES ]     ///////////////////////////////////// */



.btn-primary-button {
    background-color: var(--primary-color);
    color: white;
    transition: all 0.2s linear;
    cursor: pointer;
    border: 1px solid var(--primary-color);
}

.btn-primary-button:hover {
    background-color: var(--btn-primary-hover);
}

.btn-primary-button:active {
    background-color: var(--secondary-color-1);
    color: #E5E7EB;
    transform: scale(0.985);
    border-color: var(--secondary-color-1);
}

.btn-primary-button:active svg {
    fill: #E5E7EB !important;
}

.btn-secondary-button {
    background-color: transparent;
    color: var(--secondary-color-1);
    border: 1px solid var(--secondary-color-1);
    transition: all 0.2s linear;
    cursor: pointer;
}

.btn-secondary-button:hover {
    background-color: var(--secondary-color-6);
}

.save.btn-secondary-button:hover svg {
    fill: var(--secondary-color-1) !important;
}

.btn-secondary-button:active {
    background-color: white;
}

.btn-secondary-button:active svg {
    fill: var(--secondary-color-1) !important;
}

.btn-secondary-text-button {
    background-color: white;
    transition: all 0.2s linear;
    cursor: pointer;
}

.btn-secondary-text-button:hover {
    text-decoration: underline;
}



/* //////////////////////////////////////////////// [ INPUT FIELD ] ///////////////////////////////////////////// */



.multi-input-field {
    width: 100%;
    height: 50px;
    border-radius: 4px 4px 0 0;
    border: 1px solid var(--grey-tone-2);
    background: white;
    /* box-shadow: 0 -1px 0 0 #BDBDBD inset; */
    position: relative;
    cursor: pointer;
    /* transition: all 0.1s linear; */
}

.multi-input-field.simple-design {
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    gap: 4px;
    border-radius: 4px;
    border: 1px solid var(--grey-tone-2);
    background: white;
    /* box-shadow: 0 -1px 0 0 #BDBDBD inset; */
    position: relative;
    cursor: pointer;
    /* transition: all 0.1s linear; */
}

.multi-input-field.simple-design.focus {
    border: 1px solid var(--secondary-color-1) !important;
}

.multi-input-field.simple-design.focus .input-value {
    color: var(--secondary-color-1);
    width: 90%;
}

.multi-input-field.simple-design.focus label {
    left: 8px;
    top: -10px !important;
    background-color: white;
    height: fit-content !important;
    padding: 0 5px;
}

.multi-input-field.simple-design .new-parent {
    padding: 10px 20px;
    align-items: center !important;
}


.multi-input-field.simple-design label {
    bottom: 9px !important;
}

.multi-input-field .new-parent {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
    padding: 14px 12px 4px 12px;
    gap: 4px;

}

.multi-input-field.focus {
    border-bottom: 2px solid var(--primary-color) !important;
}

.multi-input-field label {
    color: var(--grey-tone-1);
    font-family: var(--font-family);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    position: absolute;
    transition: 0.2s ease;
    bottom: 7px;
    left: 12px;
    height: fit-content;
}

.multi-input-field.focus label {
    top: 4px !important;
    color: var(--primary-color);
    font-size: 10px;
    font-weight: 400;
    line-height: 18px;
}

.multi-input-field .input-value {
    opacity: 0;
}

.multi-input-field.focus .input-value {
    color: var(--text-color-1);
    font-family: var(--font-family);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
    width: -webkit-fill-available;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 1;
    -webkit-line-clamp: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    opacity: 1;
    white-space: nowrap;
}

.multi-input-field .menu-box {
    width: 100%;
    position: absolute;
    padding: 8px 0;
    border-radius: 4px;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 4px;
    top: 52px;
    left: 0;
    z-index: 999;
    box-shadow: var(--box-shadow);
}


.multi-input-field .menu-box .menu {
    font-family: var(--font-family);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 6px 16px 6px 16px;
    color: var(--grey-tone-6);
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    width: 100%;
    height: fit-content;
    /* transition: all 0.2s linear; */
    cursor: pointer;
}

.multi-input-field .menu-box .menu:hover,
.multi-input-field .menu-box .menu.highlighted {
    background-color: var(--grey-tone-3);
    font-weight:700 ;
}

.multi-input-field .menu-box .menu.selected-highlighted {
    background-color: var(--secondary-color-1);
    color: white;
    font-weight: 700;
}

/* Only show selected state when there are actual values or menu is focused */
.multi-input-field.focus .menu-box .menu.selected {
    background-color: var(--grey-tone-3);
    font-weight:700 ;
}

/* Remove selected state when no values and not focused */
.multi-input-field:not(.focus) .menu-box .menu.selected {
    background-color: transparent;
}



.multi-input-field .sub-menu-box .menu-tabs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
    /* justify-content: space-between; */
    flex-wrap: wrap;
    width: 100%;
}

.multi-input-field .sub-menu-box {
    min-width: 324px !important;
    width: fit-content !important;
    padding: 8px 12px;
    border-radius: 4px;
    background-color: white;
    position: absolute;
    top: 52px;
    right: -394px;
    display: flex;
    /* justify-content: flex-end; */
    align-items: flex-end;
    flex-direction: column;
    gap: 12px;
    z-index: 999;
    box-shadow: var(--box-shadow);
}

.multi-input-field .sub-menu-box .sub-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 32px;
    padding: 12px 8px;
    font-family: var(--font-family-2);
    border-radius: 4px;
    border: 0.5px solid var(--text-color-2);
    color: var(--text-color-1);
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    /* transition: all 0.2s linear; */
    background-color: white;
    cursor: pointer;
    white-space: nowrap;

}

.multi-input-field .sub-menu-box .sub-menu:hover,
.multi-input-field .sub-menu-box .sub-menu.highlighted {
    background-color: var(--grey-tone-3);
    font-weight:700 ;
}

.multi-input-field .sub-menu-box .sub-menu.selected-highlighted {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
    font-weight: 700;
}

.multi-input-field .sub-menu-box .sub-menu.selected {
    background-color: var(--text-color-2);
    color: white;
    border: 1px solid var(--text-color-2);
    font-weight:700 ;
}

.multi-input-field .sub-menu-box .btn-box {
    display: flex;
    justify-content: end;
    align-items: end;
    gap: 4px;
}

.multi-input-field .sub-menu-box .btn-box .button {
    padding: 8px 12px;
    font-family: var(--font-family-2);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* transition: all .2s linear; */
    cursor: pointer;
    width: fit-content;
    height: 32px;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
}

@media (max-width:768px) {
    .multi-input-field .sub-menu-box {
        right: unset;
        left: -330px;
        top: 68px;
    }
}


@media (max-width:576px) {
    .multi-input-field .menu-box {
        padding: 0;
        flex-direction: row;
        --box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.3);
         border: 1px solid var(--grey-tone-2);
        border-bottom: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }

    .multi-input-field .menu-box .menu {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .multi-input-field .menu-box .menu svg {
        display: none;
    }

    .multi-input-field .sub-menu-box {
        width: 100% !important;
        left: 0;
        right: unset;
        top: 82px;
        box-shadow: unset;
        --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
        border: 1px solid var(--grey-tone-2);
        border-top: 0;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

    }

    .multi-input-field .sub-menu-box .sub-menu {
        width: 100% !important;
        min-width: 111px !important;
    }

    .multi-input-field .sub-menu-box .menu-tabs {
        grid-template-columns: repeat(2, 1fr) !important;
    }

    .multi-input-field.focus .input-value {
        font-size: 16px !important;
    }

    .multi-input-field label{
        font-size: 14px !important;
    }

    .multi-input-field.focus label{
        font-size: 10px !important;
    }


    /* .multi-input-field .sub-menu-box .sub-menu:hover , .multi-input-field .menu-box .menu:hover {
        background-color: transparent;
        color: var(--text-color-1) !important;
    } */

    

   
}

@media (max-width:400px){
    /* .multi-input-field .sub-menu-box .sub-menu {
        width: 49%;
    } */
}